{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class="container container-240">
    <div class="myaccount">
        <ul class="breadcrumb v3">
            <li><a href="#">Home</a></li>
            <li class="active">Login</li>
        </ul>
        <div class="row pd">
            <div class="account-element bd-7" style="margin: 0 auto;">
                <div class="cmt-title text-center abs">
                    <h1 class="page-title v1">Login</h1>
                </div>
                <div class="page-content">
                    <p>Sign in to your account</p>
                    <form class="login-form" method="post" action="#">
                        <div class="form-group">
                            <label>Username or email address <span class="f-red">*</span></label>
                            <input type="text" id="author" class="form-control bdr" name="comment[author]" value="">
                            <label>Password <span class="f-red">*</span></label>
                            <input type="email" id="email" class="form-control bdr" name="comment[email]" value="">
                        </div>
                        <div class="flex">
                            <button type="submit" class="btn btn-submit btn-gradient" style="width: 100%;">
                                Login
                            </button>
                        </div>
                    </form>
                    <a href="#" class="btn-lostpwd spc">Lost your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}