{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<div class="container container-240">
    <div class="myaccount">
        <ul class="breadcrumb v3">
            <li><a href="{% url 'sponsor_list' %}">Spnsor List</a></li>
            <li class="active">Create Sponsor</li>
        </ul>
        <div class="row pd">

            <div class="account-element bd-7" style="margin: 0 auto;">
                <div class="cmt-title text-center abs">
                    <h1 class="page-title v1">Create Sponsor</h1>
                </div>
                <div class="page-content">
                    <form class="login-form" method="post" enctype="multipart/form-data">{%csrf_token %}
                        <div class="form-group">
                            {% for field in form %}
                            {% if field.auto_id == "id_image" %}
                            <label for="{{ field.auto_id }}" style="display: none;">{{ field.label }}</label>
                            <p style="margin: 0; display: none;">
                                {{field}}
                            </p>
                            {% else %}
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            <p style="margin: 0;">
                                {{field}}
                            </p>
                            {% endif %}
                            {% endfor %}
                            <div class="uploads-images">
                                <h3 class="text-center" style="margin: 10px 0;">Select File here</h3>
                                <p style="margin-bottom: 10px;">Files Supported: .png, .jpg, .jpeg</p>
                                <label for="id_image" class="btn btn-submit btn-gradient">
                                    <i class="fa-solid fa-upload"></i>
                                </label>
                            </div>

                        </div>
                        <div class="flex" style="gap: 10px;">
                            <a href="{% url 'sponsor_list' %}" class="btn btn-submit btn-gradient" style="padding: 0 24px;">
                                <i class="fa-solid fa-left-long"></i> Go Back
                            </a>
                            <button type="submit" class="btn btn-submit btn-gradient" style="width: 100%;">
                                Update Sponsor
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}