.uploads-images {
    width: 100%;
    height: 150px;
    margin-top: 35px;
    border-radius: 10px;
    border: 1px dotted #eaeaea;
}

.uploads-images label {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

input[type="checkbox"], #id_block, #id_is_staff, #id_is_superuser {
    width: 20px;
    height: 20px;
    display: block;
}

@media (min-width: 1025px) {
    .response_file {
        height: 660px;
    }
}

@media (max-width: 1024px) {
    .response_file {
        height: 550px;
    }
}

@media (max-width: 992px) {
    .response_file {
        height: 530px;
    }
}

@media (max-width: 768px) {
    .response_file {
        height: 410px;
    }
}

@media (max-width: 576px) {
    .response_file {
        height: 300px;
    }
}

@media (max-width: 425px) {
    .response_file {
        height: 210px;
    }
}

@media (max-width: 375px) {
    .response_file {
        height: 190px;
    }
}

.releases.v5 .slick-dots {
    margin: 0 auto;
    /* position: static; */
    padding: 6px 18px;
    border-radius: 999px; 
    /* display: table !important; */
    border: 1px solid #eaeaea;
}

.releases.v5 .slick-dots li {
    margin: 0; 
}

.releases.v5 .slick-dots li button:before {
    font-size: 12px; 
}