{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>E-come | Multi-Purpose HTML Template for Electronics Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
</head>

<body>
    <!-- push menu-->
    <div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="icon-close f-20"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform" action="/search">
                <div>
                    <label class="screen-reader-text" for="q">Searching...</label>
                    <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                    <button type="submit" id="searchsubmit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <div class="header-sub-element row"
                style="display: flex; align-items: center; justify-content: center; gap: 35px; margin-top: 20px;">
                {% if user.is_authenticated %}
                <div class="level1">
                    <a href="#">
                        <i class="fa-solid fa-user" style="font-size: 25px; color: #a4a4a4"></i>
                    </a>
                </div>
                <div class="level1">
                    <a href="{% url 'logout' %}">
                        <i class="fa-solid fa-right-from-bracket" style="font-size: 25px; color: #a4a4a4"></i>
                    </a>
                </div>
                {% endif %}

            </div>
            <ul class="nav-home5 js-menubar">
                <li class="level1">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="level1">
                    <a href="{% url 'about' %}">About Us</a>
                </li>
                <li class="level1">
                    <a href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="level1">
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="level1">
                    <a href="{% url 'faq' %}">Faqs</a>
                </li>
            </ul>
        </div>
    </div>

    <header id="header" class="header-v3 bg-w">
        <div class="header-center">
            <div class="container container-240">
                <div class="row flex">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 v-center header-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""
                                class="img-reponsive"></a>
                    </div>
                    <div class="col-lg-7 col-md-7 v-center header-search hidden-xs hidden-sm">
                        <form method="#" class="searchform ajax-search" action="#" role="search">
                            <input type="text" class="form-control" placeholder="i’m shoping for...">
                            <ul class="list-product-search hidden-xs hidden-sm">
                                <li>
                                    <a class="flex align-center" href="">
                                        <div class="product-img">
                                            <img src="{% static 'img/product/iphonex.jpg' %}" alt="">
                                        </div>
                                        <h3 class="product-title">Notebook Black Spire Smartphone Black 2.0</h3>
                                    </a>
                                </li>
                                <li>
                                    <a class="flex align-center" href="">
                                        <div class="product-img">
                                            <img src="{% static 'img/product/sound.jpg' %}" alt="">
                                        </div>
                                        <h3 class="product-title">Smartphone 6S 64GB LTE</h3>
                                    </a>
                                </li>
                                <li>
                                    <a class="flex align-center" href="">
                                        <div class="product-img">
                                            <img src="{% static 'img/product/phone4.jpg' %}" alt="">
                                        </div>
                                        <h3 class="product-title">Notebook Black Spire Smartphone Black 2.0</h3>
                                    </a>
                                </li>
                                <li>
                                    <a class="flex align-center" href="">
                                        <div class="product-img">
                                            <img src="{% static 'img/product/phone5.jpg' %}" alt="">
                                        </div>
                                        <h3 class="product-title">Smartphone 6S 64GB LTE </h3>
                                    </a>
                                </li>
                                <li>
                                    <a class="flex align-center" href="">
                                        <div class="product-img">
                                            <img src="{% static 'img/product/phone1.jpg' %}" alt="">
                                        </div>
                                        <h3 class="product-title">Notebook Black Spire Smartphone Black 2.0</h3>
                                    </a>
                                </li>
                            </ul>
                            <div class="search-panel">
                                <a class="dropdown-toggle" data-toggle="dropdown" href='#'>All categories
                                    <span class="fa fa-caret-down"></span></a>
                                <ul id="category" class="dropdown-menu dropdown-category">
                                    <li><a href="#">TV & Video</a></li>
                                    <li><a href="#">Home Audio & Theater</a></li>
                                    <li><a href="#">Camera, Photo & Video</a></li>
                                    <li><a href="#">Cell Phones & Accessories</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Car Electronics</a></li>
                                    <li><a href="#">Electronics Showcase</a></li>
                                </ul>
                            </div>
                            <span class="input-group-btn">
                                <button class="button_search" type="button"><i
                                        class="ion-ios-search-strong"></i></button>
                            </span>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 v-center header-sub">
                        <div class="right-panel">
                            <div class="header-sub-element hidden-xs hidden-sm">
                                <div class="sub-left">
                                    <img src="{% static 'img/icon-call.png' %}" alt="">
                                </div>
                                <div class="sub-right">
                                    <span>Call Us Free</span>
                                    <div class="phone">+998911662125</div>
                                </div>
                            </div>
                            <div class="header-sub-element row" style="display: flex; align-items: center; gap: 5px;">
                                {% if user.is_authenticated %}
                                <a href="#">
                                    <img src="{% static 'img/icon-heart.png' %}" alt="">
                                </a>

                                <div class="cart" style="padding-bottom: 0;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false" id="label5">
                                        <img src="{% static 'img/icon-cart.png' %}" alt="">
                                        <span class="count cart-count">0</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-cart">
                                        <ul class="mini-products-list">
                                            <li class="item-cart">
                                                <div class="product-img-wrap">
                                                    <a href="#">
                                                        <img src="{% static 'img/cart1.jpg' %}" alt=""
                                                            class="img-reponsive">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <div class="inner-left">
                                                        <div class="product-name">
                                                            <a href="#">Harman Kardon Onyx Studio </a>
                                                        </div>
                                                        <div class="product-price">
                                                            $ 60.00 <span>( x2)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="e-del"><i class="ion-ios-close-empty"></i></a>
                                            </li>
                                            <li class="item-cart">
                                                <div class="product-img-wrap">
                                                    <a href="#">
                                                        <img src="{% static 'img/cart1.jpg' %}" alt=""
                                                            class="img-reponsive">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <div class="inner-left">
                                                        <div class="product-name">
                                                            <a href="#">Harman Kardon Onyx Studio </a>
                                                        </div>
                                                        <div class="product-price">
                                                            $ 60.00 <span>( x2)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="e-del"><i class="ion-ios-close-empty"></i></a>
                                            </li>
                                        </ul>
                                        <div class="bottom-cart">
                                            <div class="cart-price">
                                                <span>Subtotal</span>
                                                <span class="price-total">$ 120.00</span>
                                            </div>
                                            <div class="button-cart">
                                                <a href="{% url 'cart' %}" class="cart-btn btn-viewcart">View Cart</a>
                                                <a href="{% url 'checkout' %}"
                                                    class="cart-btn e-checkout btn-gradient">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="hidden-xs hidden-sm" href="#">
                                    <i class="fa-regular fa-user" style="font-size: 25px;"></i>
                                </a>

                                <a class="hidden-xs hidden-sm" href="{% url 'logout' %}">
                                    <i class="fa-solid fa-right-from-bracket" style="font-size: 25px;"></i>
                                </a>

                                {% else %}
                                <a href="{% url 'login' %}" style="padding-right: 0px;">
                                    <button type="submit" class="btn btn-submit btn-gradient" style="width: 100%;">
                                        Login
                                    </button>
                                </a>
                                {% endif %}
                                <a href="#" class="hidden-md hidden-lg icon-pushmenu js-push-menu">
                                    <i class="fa-solid fa-bars" style="font-size: 25px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-xs hidden-sm">
            <div class="container container-240">
                <div class="row flex lr2">
                    <div class="col-lg-3 widget-verticalmenu">
                        <div class="navbar-vertical">
                            <button class="navbar-toggles navbar-drop js-vertical-menu">
                                <span>All Departments</span>
                            </button>
                        </div>
                        <div class="vertical-wrapper" style="display: none;">
                            <ul class="vertical-group">
                                <li class="vertical-item level1 mega-parent"><a href="#">New Arrivals</a></li>
                                <li class="vertical-item level1 mega-parent"><a href="#">Top 100 Best Seller <span
                                            class="h-ribbon e-red mg-l10">Hot</span></a></li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">TV & Video</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu v2 tvbg pd2 style1">
                                        <ul class="level1">
                                            <li class="level2 col-md-5">
                                                <a href="#">TVs by Type</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">4K Ultra HD</a></li>
                                                    <li class="level3"><a href="#" title="">Smart TVs</a></li>
                                                    <li class="level3"><a href="#" title="">LED & LCD TVs &
                                                            amplifiers</a></li>
                                                    <li class="level3"><a href="#" title="">OLED TVs</a></li>
                                                    <li class="level3"><a href="#" title="">QLED/Quantum Dot TVs </a>
                                                    </li>
                                                </ul>

                                                <a href="#">Blu-ray & DVD Players</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">4K Blu-ray Players</a></li>
                                                    <li class="level3"><a href="#" title="">Streaming Blu-ray
                                                            Players</a></li>
                                                    <li class="level3"><a href="#" title="">3D Blu-ray Players</a></li>
                                                    <li class="level3"><a href="#" title="">Portable Blu-ray Players</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">DVD Recorders</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2 col-md-7">
                                                <a href="# ">Home Audio</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Home Theater Systems</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">Soundbars</a></li>

                                                    <li class="level3"><a href="#" title="">Speakers</a></li>
                                                    <li class="level3"><a href="#" title="">Receivers & Amplifiers</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">Premium Audio</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">Home Audi & Theater</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu v2 homebg pd2 style1">
                                        <ul class="level1">
                                            <li class="level2 col-md-4">
                                                <a href="#">Home theater</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Sound bars</a></li>
                                                    <li class="level3"><a href="#" title="">Speakers</a></li>
                                                    <li class="level3"><a href="#" title="">Receivers & amplifiers</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">Equalizers</a></li>
                                                    <li class="level3"><a href="#" title="">Phono preamps </a></li>
                                                </ul>
                                            </li>
                                            <li class="level2 col-md-4">
                                                <a href="# ">Speakers</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Bluetooth speakers</a></li>
                                                    <li class="level3"><a href="#" title="">Ceiling & in-wall
                                                            speakers</a></li>

                                                    <li class="level3"><a href="#" title="">Digital music systems</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">Outdoor</a></li>
                                                    <li class="level3"><a href="#" title="">Satellite speakers</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2 col-md-4">
                                                <a href="#">Accessories</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Receivers & amplifiers</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">Cd & tape players</a></li>
                                                    <li class="level3"><a href="#" title="">Tuners</a></li>
                                                    <li class="level3"><a href="#" title="">Curntables</a></li>
                                                    <li class="level3"><a href="#" title="">Receivers & adapters</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">Camera, Photo & Video</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu">
                                        <ul class="vertical-menu1">
                                            <li><a href="#">Car Audio</a></li>
                                            <li><a href="#">Radar Detectors</a></li>
                                            <li><a href="#">Car Safety & Security</a></li>
                                            <li><a href="#">Car Video</a></li>
                                            <li><a href="#">Two-Way Radios</a></li>
                                            <li><a href="#">CB Radios & Scanners</a></li>
                                            <li><a href="#">In-Dash Mounting Kits</a></li>
                                            <li><a href="#">Installation Accessories.</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">Cell Phones & Accessories</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu v2 phonebg pd2 style1">
                                        <ul class="level1">
                                            <li class="level2 col-md-4">
                                                <a href="#">Cell Phones</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Samsung Galaxy S8</a></li>
                                                    <li class="level3"><a href="#" title="">iPhone 7/7 Plus</a></li>
                                                    <li class="level3"><a href="#" title="">iPhone 6</a></li>
                                                    <li class="level3"><a href="#" title="">Samsung Galaxy S7</a></li>
                                                    <li class="level3"><a href="#" title="">Unlocked Phones</a></li>
                                                </ul>

                                                <a href="#">Cases</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">4Armbands</a></li>
                                                    <li class="level3"><a href="#" title="">Armbands</a></li>
                                                    <li class="level3"><a href="#" title="">Cases</a></li>
                                                    <li class="level3"><a href="#" title="">Flip Cases</a></li>
                                                    <li class="level3"><a href="#" title="">Holsters & Clips</a></li>
                                                </ul>
                                            </li>
                                            <li class="level2 col-md-8">
                                                <a href="# ">Accessories</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Batteries</a></li>
                                                    <li class="level3"><a href="#" title="">Bluetooth Headsets</a></li>

                                                    <li class="level3"><a href="#" title="">Bluetooth Speakers</a></li>
                                                    <li class="level3"><a href="#" title="">Car Accessories</a></li>
                                                    <li class="level3"><a href="#" title="">Chargers</a></li>
                                                </ul>

                                                <a href="# ">Connected Devices</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Tablets</a></li>
                                                    <li class="level3"><a href="#" title="">Mobile Hotspots</a></li>

                                                    <li class="level3"><a href="#" title="">Smart Watches</a></li>
                                                    <li class="level3"><a href="#" title="">Wearable Technology</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">Headphones</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu v2 headphonebg pd3 style1">
                                        <ul class="level1">

                                            <li class="level2 col-md-6">
                                                <a href="#">Headphones</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">In-Ear & Earbud</a></li>
                                                    <li class="level3"><a href="#" title="">On-Ear</a></li>
                                                    <li class="level3"><a href="#" title="">Over-Ear</a></li>
                                                    <li class="level3"><a href="#" title="">Wireless</a></li>
                                                    <li class="level3"><a href="#" title="">Sports & Fitness</a></li>
                                                </ul>


                                            </li>
                                            <li class="level2 col-md-6">
                                                <a href="# ">Speaker System</a>
                                                <ul class="menu-level-2">
                                                    <li class="level3"><a href="#" title="">Complete Systems</a></li>
                                                    <li class="level3"><a href="#" title="">Sound Bars</a></li>

                                                    <li class="level3"><a href="#" title="">Surround Sound</a></li>
                                                    <li class="level3"><a href="#" title="">Receivers & Amplifiers</a>
                                                    </li>
                                                    <li class="level3"><a href="#" title="">Equalizers</a></li>
                                                </ul>


                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">Car Electronics</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu">
                                        <ul class="vertical-menu1">
                                            <li><a href="#">Car Audio</a></li>
                                            <li><a href="#">Radar Detectors</a></li>
                                            <li><a href="#">Car Safety & Security</a></li>
                                            <li><a href="#">Car Video</a></li>
                                            <li><a href="#">Two-Way Radios</a></li>
                                            <li><a href="#">CB Radios & Scanners</a></li>
                                            <li><a href="#">In-Dash Mounting Kits</a></li>
                                            <li><a href="#">Installation Accessories.</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop"><a href="#">Electronics Showcase</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu">
                                        <ul class="vertical-menu1">
                                            <li><a href="#">Car Audio</a></li>
                                            <li><a href="#">Radar Detectors</a></li>
                                            <li><a href="#">Car Safety & Security</a></li>
                                            <li><a href="#">Car Video</a></li>
                                            <li><a href="#">Two-Way Radios</a></li>
                                            <li><a href="#">CB Radios & Scanners</a></li>
                                            <li><a href="#">In-Dash Mounting Kits</a></li>
                                            <li><a href="#">Installation Accessories.</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="vertical-item level1 vertical-drop mega-parent"><a href="#">All
                                        categlories</a>
                                    <div class="menu-level-1 dropdown-menu vertical-menu v2 pd">
                                        <div class="row">
                                            <div class="col-md-4 text-center cate-item">
                                                <a href="#"><img src="{% static 'img/megamenu/cate1.jpg' %}" alt=""
                                                        class="img-reponsive"></a>
                                                <h3><a href="#">Mirrorless Cameras</a></h3>
                                            </div>
                                            <div class="col-md-4 text-center cate-item">
                                                <a href="#"><img src="{% static 'img/megamenu/cate2.jpg' %}" alt=""
                                                        class="img-reponsive"></a>
                                                <h3><a href="#">Lenses</a></h3>
                                            </div>
                                            <div class="col-md-4 text-center cate-item">
                                                <a href="#"><img src="{% static 'img/megamenu/cate3.jpg' %}" alt=""
                                                        class="img-reponsive"></a>
                                                <h3><a href="#">Photography Drones</a></h3>
                                            </div>
                                            <div class="col-md-4 text-center cate-item">
                                                <a href="#"><img src="{% static 'img/megamenu/cate4.jpg' %}" alt=""
                                                        class="img-reponsive"></a>
                                                <h3><a href="#">Sports & Action Cameras</a></h3>
                                            </div>
                                            <div class="col-md-4 text-center cate-item">
                                                <a href="#"><img src="{% static 'img/megamenu/cate5.jpg' %}" alt=""
                                                        class="img-reponsive"></a>
                                                <h3><a href="#">Optics</a></h3>
                                            </div>
                                            <div class="col-md-4 text-center cate-item">
                                                <a href="#"><img src="{% static 'img/megamenu/cate6.jpg' %}" alt=""
                                                        class="img-reponsive"></a>
                                                <h3><a href="#">Accessories</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 widget-left">
                        <div class="flex lr">
                            <nav class="main-menu flex align-center">
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="level1">
                                            <a href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li class="level1">
                                            <a href="{% url 'about' %}">About Us</a>
                                        </li>
                                        <li class="level1">
                                            <a href="{% url 'blog' %}">Blog</a>
                                        </li>
                                        <li class="level1">
                                            <a href="{% url 'contact' %}">Contact</a>
                                        </li>
                                        <li class="level1">
                                            <a href="{% url 'faq' %}">Faqs</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}
    <div class="e-category">
        <div class="container container-240">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h1 class="cate-title">Featured Products</h1>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/usb.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/macbook.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/flycam.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h1 class="cate-title">Top Rated Products</h1>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/samsung.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/headphone2.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/anker.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h1 class="cate-title">Top Selling Products</h1>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/headphone.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/samsung2.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                    <div class="cate-item">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'img/product/sound.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="#">Epson Home Cinema 5040UB </a></h3>
                            <div class="product-price v2"><span>$780.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="f-top v2">
            <div class="container container-240">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-block footer-about">
                            <div class="f-logo">
                                <a href="#"><img src="{% static 'img/logo.png' %}" alt="" class="img-reponsive"></a>
                            </div>
                            <ul class="footer-block-content">
                                <li class="address">
                                    <span>45 Grand Central Terminal New York,NY 1017 United State USA</span>
                                </li>
                                <li class="phone">
                                    <span>+998 91 166 21 25</span>
                                </li>
                                <li class="email">
                                    <span>mirabzalozodov07@gmail.com</span>
                                </li>
                                <li class="time">
                                    <span>Mon-Sat 6:00 Am - 23:00 Pm</span>
                                </li>
                            </ul>
                            <div class="footer-social social">
                                <h3 class="footer-block-title">Follow us</h3>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-dribbble"></a>
                                <a href="#" class="fa fa-behance"></a>
                                <a href="#" class="fa fa-instagram"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Quick menu</h3>
                            <ul class="footer-block-content">
                                <li><a href="#">TV & Video</a></li>
                                <li><a href="#">Home Audio & Theater</a></li>
                                <li><a href="#">Camera, Photo & Video</a></li>
                                <li><a href="#">Cell Phones & Accessories</a></li>
                                <li><a href="#">Headphones</a></li>
                                <li><a href="#">Video Games</a></li>
                                <li><a href="#">Bluetooth & Wireless Speakers</a></li>
                                <li><a href="#">Car Electronics</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Customer Service</h3>
                            <ul class="footer-block-content">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Track your Order</a></li>
                                <li><a href="#">Returns/Exchange</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Customer Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="footer-block">
                            <div class="footer-block-phone">
                                <h3 class="footer-block-title">Hot Line</h3>
                                <p class="phone-desc">Call Us toll Free</p>
                                <p class="phone-light">+998 91 166 21 25</p>
                            </div>
                            <div class="footer-block-newsletter">
                                <h3 class="footer-block-title">Subscription</h3>
                                <p>Register now to get updates on promotions and coupons.</p>
                                <form class="form_newsletter" action="#" method="post">
                                    <input type="email" value="" placeholder="Enter your emaill adress" name="EMAIL"
                                        id="mail" class="newsletter-input form-control">
                                    <button id="subscribe" class="button_mini btn btn-gradient" type="submit">
                                        Subscribe
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-bottom">
            <div class="container container-240">
                <div class="row flex lr">
                    <div class="col-xs-6 f-copyright"><span>© 2023 EngoTheme. All rights reserved.</span></div>
                    <div class="col-xs-6 f-payment hidden-xs">
                        <a href="#"><img src="{% static 'img/payment/mastercard.png' %}" alt=""
                                class="img-reponsive"></a>
                        <a href="#"><img src="{% static 'img/payment/paypal.png' %}" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="{% static 'img/payment/visa.png' %}" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="{% static 'img/payment/american-express.png' %}" alt=""
                                class="img-reponsive"></a>
                        <a href="#"><img src="{% static 'img/payment/western-union.png' %}" alt=""
                                class="img-reponsive"></a>
                        <a href="#"><img src="{% static 'img/payment/jcb.png' %}" alt="" class="img-reponsive"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="btn-gradient scroll_top"><i class="ion-ios-arrow-up"></i></a>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMfhtZN7ZukEAEQcgR_GszRE4x338Bu9M&callback=initMap">
        </script>
    <script>
        jQuery(document).ready(function ($) {


            $('.js-product-360').ThreeSixty({
                totalFrames: 18, // Total no. of image you have for 360 slider
                endFrame: 18, // end frame for the auto spin animation
                currentFrame: 1, // This the start frame for auto spin
                imgList: '.threesixty_images', // selector for image list
                progress: '.spinner', // selector to show the loading progress
                imagePath: 'img/product-360/', // path of the image assets
                filePrefix: '', // file prefix if any
                ext: '.jpg', // extention for the assets
                // responsive: true,
                navigation: true

            });
        });
    </script>
</body>

</html>