{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class="container container-240">
    <div class="blog-banner pd-banner v2">
        <a href="#" class="effect_img2"><img src="img/blog/blog-banner.png" alt="" class="img-reponsive"></a>
    </div>
    <div class="blog">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Blog</li>
        </ul>
        <div class="blog-single-post blog-standar">
            <div class="row">
                <div class="blog-content col-md-9 col-xs-12">
                    <div class="blog-post-item v2">
                        <div class="blog-img">
                            <a href="#" class="hover-images"><img src="{% static 'img/blog/single-post.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                            <div class="blog-post-date e-gradient abs v2">
                                <span class="b-date">14</span>
                                <span class="b-month">dec</span>
                            </div>
                        </div>
                        <div class="blog-info-bd">
                            <div class="blog-info">
                                <h3 class="blog-post-title v2"><a href="#">Ricoh's latest spherical camera nets quality
                                        images</a></h3>
                                <div class="blog-post-desc">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using<br> Lorem Ipsum is
                                    that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English. Many desktop
                                    publishing packages and web page editors now use Lorem Ipsum as their default model
                                    text, and a search for 'lorem ipsum' will uncover many web sites still in their
                                    infancy. Various versions have evolved over the years....
                                </div>
                            </div>
                            <div class="blog-post-author v2">
                                <div class="blog-post-tags v2">
                                    <div class="author">Posted on Jun, 02, 2018</div>
                                    <div class="blog-tag">
                                        <a href="#">Design</a>, <a href="#">Tecnology</a>
                                    </div>
                                </div>

                                <div class="blog-post-comment"><span class="c-black"></span>2</div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-post-item bd-half v2">

                        <div class="blog-img">
                            <div class="js-single-post">
                                <img src="{% static 'img/blog/single-post4.jpg' %}" alt="" class="img-reponsive">
                                <img src="{% static 'img/blog/single-post2.jpg' %}" alt="" class="img-reponsive">
                                <img src="{% static 'img/blog/single-post3.jpg' %}" alt="" class="img-reponsive">
                            </div>
                            <div class="blog-post-date e-gradient abs v2">
                                <span class="b-date">14</span>
                                <span class="b-month">dec</span>
                            </div>
                        </div>
                        <div class="blog-info-bd">
                            <div class="blog-info">
                                <h3 class="blog-post-title v2"><a href="#">Ricoh's latest spherical camera nets quality
                                        images</a></h3>
                                <div class="blog-post-desc">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using<br> Lorem Ipsum is
                                    that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English. Many desktop
                                    publishing packages and web page editors now use Lorem Ipsum as their default model
                                    text, and a search for 'lorem ipsum' will uncover many web sites still in their
                                    infancy. Various versions have evolved over the years....
                                </div>
                            </div>
                            <div class="blog-post-author v2">
                                <div class="blog-post-tags v2">
                                    <div class="author">Posted on Jun, 02, 2018</div>
                                    <div class="blog-tag">
                                        <a href="#">Design</a>, <a href="#">Tecnology</a>
                                    </div>
                                </div>

                                <div class="blog-post-comment"><span class="c-black"></span>2</div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-post-item v2">
                        <div class="blog-img">
                            <a href="#" class="hover-images"><img src="{% static 'img/blog/single-post.jpg' %}" alt=""
                                    class="img-reponsive"></a>
                            <div class="blog-post-date e-gradient abs v2">
                                <span class="b-date">14</span>
                                <span class="b-month">dec</span>
                            </div>
                        </div>
                        <div class="blog-info-bd">
                            <div class="blog-info">
                                <h3 class="blog-post-title v2"><a href="#">Ricoh's latest spherical camera nets quality
                                        images</a></h3>
                                <div class="blog-post-desc">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English. Many desktop publishing
                                    packages and web page editors now use Lorem Ipsum as their default model text, and a
                                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                                    versions have evolved over the years....
                                </div>
                            </div>
                            <div class="blog-post-author v2">
                                <div class="blog-post-tags v2">
                                    <div class="author">Posted on Jun, 02, 2018</div>
                                    <div class="blog-tag">
                                        <a href="#">Design</a>, <a href="#">Tecnology</a>
                                    </div>
                                </div>

                                <div class="blog-post-comment"><span class="c-black"></span>2</div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-post-item v2">
                        <div class="blog-img">
                            <a href="#" class="hover-images">
                                <blockquote>
                                    <p>Thousands of candles can be lighted from a single candle, and the life of the
                                        candle will not be shortened. Happiness never decreases by being shared.</p>
                                </blockquote>
                            </a>
                            <div class="blog-post-date e-gradient abs v2">
                                <span class="b-date">14</span>
                                <span class="b-month">dec</span>
                            </div>
                        </div>
                        <div class="blog-info-bd">
                            <div class="blog-info">
                                <h3 class="blog-post-title v2"><a href="#">Ricoh's latest spherical camera nets quality
                                        images</a></h3>
                                <div class="blog-post-desc">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English. Many desktop publishing
                                    packages and web page editors now use Lorem Ipsum as their default model text, and a
                                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                                    versions have evolved over the years....
                                </div>
                            </div>
                            <div class="blog-post-author v2">
                                <div class="blog-post-tags v2">
                                    <div class="author">Posted on Jun, 02, 2018</div>
                                    <div class="blog-tag">
                                        <a href="#">Design</a>, <a href="#">Tecnology</a>
                                    </div>
                                </div>

                                <div class="blog-post-comment"><span class="c-black"></span>2</div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
                <div class="blog-sidebar col-md-3 col-xs-12">
                    <div class="blog-widget blog-widget-social">
                        <h1 class="widget-blog-title">Follow us</h1>
                        <div class="social">
                            <a href="#" class="mt-1 fa fa-twitter"></a>
                            <a href="#" class="mt-1 fa fa-dribbble"></a>
                            <a href="#" class="mt-1 fa fa-behance"></a>
                            <a href="#" class="mt-1 fa fa-instagram"></a>
                        </div>
                    </div>
                    <div class="blog-widget blog-widget-popular">
                        <h1 class="widget-blog-title">Popular post</h1>
                        <div class="owl-carousel owl-theme js-owl-post">
                            <div class="item">
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post1.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post2.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post3.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post4.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post1.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post2.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>

                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post3.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>

                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post4.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post1.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post2.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>

                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post3.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>

                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/post4.jpg' %}" alt="">
                                    </div>
                                    <div class="post-info">
                                        <h3><a href="#">Traveling abroad change you forever</a></h3>
                                        <p>April 30, 2016</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-widget blog-widget-newsletter">
                        <h1 class="widget-blog-title">Newletter</h1>
                        <div class="newsletter">
                            <form class="form_newsletter" action="#" method="post">
                                <input type="email" value="" placeholder="Enter your emaill adress" name="EMAIL"
                                    id="mail2" class="newsletter-input form-control">
                                <button id="subscribe2" class="button_mini btn" type="submit">

                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}