{% extends 'user/base.html' %}
{% load static %}

{% block content %}
    <div class="container container-240">
        <div class="pd-banner v2">
            <a href="#" class="image-bd effect_img2"><img src="img/o-banner.jpg" alt="" class="img-reponsive"></a> 
        </div>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Contact </li>
        </ul>
        <div class="e-contact">
            <div id="googlemap1" class="map"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="contact-info">
                        <h1 class="contact-title spc">Contact Details</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has...</p>
                    </div>
                    <div class="e-contact-address footer-about">
                        <h3 class="contact-title v2">London Store</h3> 
                        <ul class="footer-block-content">
                            <li class="address">
                                <span>45 Grand Central Terminal New York,NY 1017 United State USA</span>
                            </li>
                            <li class="phone">
                                <span>(+123) 456 789 - (+123) 666 888</span>
                            </li>
                            <li class="email">
                                <span>Contact@yourcompany.com</span>
                            </li>
                            <li class="time">
                                <span>Mon-Sat 9:00pm - 5:00pm  &nbsp;&nbsp;&nbsp;  Sun : Closed</span>
                            </li>
                        </ul>
                    </div>

                    <div class="e-contact-address footer-about">
                        <h3 class="contact-title v2">NewYork Store</h3> 
                        <ul class="footer-block-content">
                            <li class="address">
                                <span>45 Grand Central Terminal New York,NY 1017 United State USA</span>
                            </li>
                            <li class="phone">
                                <span>(+123) 456 789 - (+123) 666 888</span>
                            </li>
                            <li class="email">
                                <span>Contact@yourcompany.com</span>
                            </li>
                            <li class="time">
                                <span>Mon-Sat 9:00pm - 5:00pm  &nbsp;&nbsp;&nbsp;  Sun : Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 pdl">
                    <h1 class="contact-title spc">Leave a message</h1>
                    <form class="login-form" action="#">
                        <div class="form-group">
                                <input type="text" id="author" class="form-control bdr" name="comment[author]" value="" placeholder="Name *">
                                <input type="email" id="email" class="form-control bdr" name="comment[email]" value="" placeholder="Emal *">
                                <input type="text" id="phone" class="form-control bdr" name="comment[phone]" value="" placeholder="Phone Number">
                                <textarea id="message" class="form-control bdr3" name="comment[body]" rows="10" placeholder="Your message here..."></textarea>
                        </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-submit btn-gradient">
                                    Send message
                                </button>
                            </div>
                        </form>
                </div>
            </div>
            <div class="banner-callus image-bd effect_img2">
                <a href="#"><img src="img/banner/h1_b7.jpg" alt="" class="img-responsive"></a>
                <div class="box-center v2">
                    <p>Call us free : + (123) 456 789</p>
                    <a href="#" class="btn-callus">Shop now</a>
                </div>
            </div>
        </div>
    </div>

    <script>
    function initMap() {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var myLatLng = {lat: 41.752988, lng: 61.976869};
        var map = new google.maps.Map(document.getElementById('googlemap1'), {
            center: { lat: 41.752988, lng: 61.976869 },
            zoom: 10,
            styles: [{
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#212121"
                    }]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#757575"
                    }]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#212121"
                    }]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#757575"
                    }]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#9e9e9e"
                    }]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#bdbdbd"
                    }]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#757575"
                    }]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#181818"
                    }]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#616161"
                    }]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#1b1b1b"
                    }]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#2c2c2c"
                    }]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#8a8a8a"
                    }]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#373737"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#3c3c3c"
                    }]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#4e4e4e"
                    }]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#616161"
                    }]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#757575"
                    }]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#3d3d3d"
                    }]
                }
            ]
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });

    }
    </script>
{% endblock %}